nav {
    background: #081f40;
    display: flex;
    justify-content: space-between;
  }
  
  nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 15px 0;
  }
  
  li a{
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 20px;
  }
  
  li a:hover {
    border-bottom: 3px solid #EAAB22;
    color:#EAAB22;
  }
/*NAVBAR*/

.hero {
    Width:100%;
    Height:90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:url(images/Images/Robert\ Johnson\ Hero\ IMG\ 2.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero h1 {
  color: #C21F32;
  background: #081f40;
  display: flex;
  justify-content: right;
}

.hero h2 {
  color: #EAAB22;
  background: #081f40;
  display: flex;
  justify-content: right;
}