@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oxygen:wght@300&display=swap');

body {
  background-color: #081f40;
}

nav {
    background: #081f40;
    display: flex;
    justify-content: space-between;
  }

  .navigation {
  display: flex;
  justify-content: space-between;
}

form {
  padding: 15px;
}

button {
  display: inline-block;
  background:#C21F32;
  color: #EAAB22;
  border-radius: 25px;
  padding: 10px 15px;
  text-transform: uppercase;
  border: none;
}

button :hover {
  background-color:#EAAB22;
  color: #081f40;
}

input {
  padding: 10px;
}

.logo img {
  width: 75px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
  }
  
li a{
    font-family:'Abril Fatface', cursive;
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 18px;
  }
  
li a:hover {
    border-bottom: 3px solid #EAAB22;
    color:#EAAB22;
  }
/*NAVBAR*/

.hero {
    Height:90vh;
    background-image:url(images/hero-image.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.box {
  height: 150px;
  width: 600px;
  background:rgba(8, 31, 64, .8);
  position: absolute;
  bottom: 30vh;
  right: 10px;
  text-align:center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-family: 'Abril Fatface', cursive;
  color: #C21F32;
  margin: 5px;
}

.hero h2 {
  color: #EAAB22;
  margin: 0;
  font-family: 'Bebas', sans-serif;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 50px;
  text-align:center;
  color: #C21F32;
}

h2 {
  color: #EAAB22;
  font-size: 35px;
  font-family: 'bebas', sans-serif;
}

h3 {
  color: #EAAB22;
  font-family: 'oxygen', sans-serif;
}

h4 {
  color: #EAAB22;
  text-align: center;
}

p {
  font-size: 20px;
  color: #ffffff;
  padding-left: 20px;
  font-family: 'oxygen', sans-serif;
  line-height: 2rem;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-music {
  display:flex;
  justify-content: center;
}

.left-col {
width: 40%;
margin-right: 15px;
padding-top: 10px;
padding-bottom: 10px;
}

.right-col {
  width: 60%;
}

.left-col img {
  width: 100%;
  border-radius: 25px;
  border-color: #EAAB22;
  padding: 10px;
}

.hero2 {
  background-image: url(images/Robert\ Johnson\ 2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
} 

.hero3 {
  background-image: url(images/Devil-and-the\ guitar.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 25px;
}

.box2 {
  background-color: rgba(8, 31, 64, .8);
  height: 1000px;
  width: 1200px;
  border-radius: 25px;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.box3 {
  background-color: rgba(8, 31, 64, .8);
  height: 1000px;
  width: 1200px;
  border-radius: 25px;
  justify-content: center;
  text-align: center;
  margin: 50px auto;
}

.box3 p {
  text-align: center;
  padding: 10px;
}

.box-flex {
  display: flex;
}

.card {
  width: 50%;
}

.card {
  padding: 10px;
  text-align: center;
  line-height: 2em;
}

.card-right {
  border-left: 1px solid #C21F32;
}

.card-text h3 {
  text-align: center;
  justify-content: center;
  padding: 15px;
}

.title {
  text-align: center;
}
.row {
  display: flex;
  justify-content: center;
  
}

.card-picture {
  width: 33%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-text {
  width: 33%;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.card-picture img {
  width: 100%;
  object-fit: cover;
}

.card-video {
  display: flex;
  margin-top: 25px;
  padding-left: 15px;
}

.card-video2 {
  display: flex;
  margin-top: 25px;
  padding-left: 15px;
}

footer {
  text-align: center;
}
footer img {
  display: inline-block;
  justify-content: space-between;
}

footer h3 a{
  color: white;
  text-decoration: none;
}